/* Try different box model properties below */

.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
  margin: 1px;
  padding: 1px;
}

.countries {
  margin: 0;
  padding: 5px;
}

.country {
  width: 97%;
  height: 18%;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0;
  padding: 5px;
}
