/* Add your CSS code below */

.link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.message__time {
  font-size: 0.9rem;
}

.message--unread {
  border-left: 3px solid blue;
}

.message--old {
  opacity: 0.6;
}

.message__content {
  line-height: 3em;
}
